# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# Virtual Environment
# =========================
.venv/
venv/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Jupyter / Research
# =========================
.ipynb_checkpoints/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

#===================
# image
dataset/
images/
*.jpg
*.png
*.jpeg
*.webp


# Python
__pycache__/
*.pyc
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# model / output
*.pth
runs/
